---
---

@import "{{ site.theme }}";

/* Profile img */

.profileimg {
  border-radius:30%;
  margin-bottom: 2em;
  width: 15em;
}

/* List of Publications */

ul.papers {
  list-style-type: square;
}
  
