---
---

@import "{{ site.theme }}";

/* Buttons */
.li {
  beckground-color: white; 
  /* border-color: hsla(0, 100%, 70%, 0.3); /* baby pink */
  border-radius: 12px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
